<div class="container mx-auto py-1">
  <div class="bg-white rounded-lg shadow-md min-w-[600px] flex flex-col">
    <%# <div class="flex p-4 border-b border-gray-200">
        <div class="bg-red-200 text-red-600 px-4 py-2 rounded-full flex items-center space-x-2">
          <div class="w-1.5 h-1.5 bg-current rounded-full"></div>
          <span class="font-semibold text-sm">Live</span>
        </div>
    </div> %>
    <div class="flex relative">
      <div class="w-1/3 p-8 flex justify-center items-center">
        <div class="flex flex-col items-center">
          <div class="w-24 h-24 flex items-center justify-center bg-white rounded-full shadow-lg">
            <%= image_tag 'hoerve_if.png', class: 'w-16'%>
          </div>
          <h2 class="text-center text-lg font-semibold mt-6">Hørve IF</h2>
        </div>
      </div>
      <div class="w-1/3 p-8 flex flex-col items-center">
        <div class="text-center text-sm text-gray-500">
          <span>11. Maj, 2024</span>
          <br>
          <strong class="text-gray-800">13:30</strong></span>
        </div>
        <div class="flex items-center space-x-2 mt-4">
          <span class="text-4xl font-semibold">0</span>
          <span class="text-2xl font-semibold text-gray-400">:</span>
          <span class="text-4xl font-semibold">0</span>
        </div>
        <div class="text-center text-sm text-orange-500 mt-4"></div>
        <div class="text-center text-sm text-gray-500 mt-4">
          Dommer: <strong class="text-gray-800">Information Kommer</strong>
          <br>
          Lokation: <strong class="text-gray-800">Hørve Stadion</strong>
        </div>
      </div>
      <div class="w-1/3 p-8 flex flex-col items-center">
        <div class="flex flex-col items-center">
          <div class="w-24 h-24 flex items-center justify-center bg-white rounded-full shadow-lg">
          <%= image_tag 'sifholbaek.png', class: 'w-16' %>
          </div>
          <h2 class="text-center text-lg font-semibold mt-6">SIF Holbæk</h2>
        </div>
      </div>
    </div>
  </div>
</div>
